<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{lang.about}}</li>
  </ol>
</nav>
<div class="m-3">
  <p class="lead">
    {{lang.versionapp}}: {{version}} <br />
  </p>
  <p class="lead">
    {{lang.text1}}
  </p>
  <p class="lead">
    {{lang.text2}}
  </p>
  <p class="lead">
    {{lang.text3}}
  </p>
  <pre>
    {{sample}}
  </pre>
  <p class="lead">
    {{lang.icons}}: <a href="https://www.fontawesome.com/" target="_blank">fontawesome.com</a>
  </p>
  <p class="lead">
    {{lang.by}} Charlles Bandeira <br />
    <a href="mailto:charlles_df@hotmail.com">charlles_df@hotmail.com</a>
  </p>
  <p class="lead">
    {{lang.text4}} <strong>{{listSurvivals}}.</strong>
  </p>
</div>