<nav class="navbar navbar-expand-md navbar-dark bg-green-darken-4 fixed-top">
  <a href="#" class="navbar-brand">
    <i class="fas fa-dice"></i> Zombicide Green App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarMenu">
    <div class="navbar-nav ml-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
      <a routerLink="survivor" class="nav-link active">
        <i class="fas fa-angry"></i>
        {{lang?.survivors}}
      </a>
      <a routerLink="settings" class="nav-link active">
        <i class="fas fa-cog"></i>
        {{lang?.settings}}
      </a>
      <a routerLink="about" class="nav-link active">
        <i class="fas fa-info-circle"></i>
        {{lang?.about}}
      </a>
    </div>
  </div>
</nav>