<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{lang?.survivors}}</li>
  </ol>
</nav>

<form [formGroup]="formSurvivors" novalidate>
  <div class="form-group d-flex flex-row mb-3 mr-2 ml-2">
    <select class="form-control mr-1" id="comboboxSurvivors" formControlName="comboboxSurvivors">
      <option></option>
      <option *ngFor="let name of comboboxSurvivors" value="{{name}}">{{name}}</option>
    </select>
    <button type="button" class="btn btn-success" [class.disabled]="isComboboxSurvivorClean()" (click)="addSurvivor()">
      {{lang?.add}}
    </button>
  </div>
</form>

<ul class="nav nav-tabs bg-light">
  <li *ngFor="let survivor of survivorsSelected; let i = index" class="nav-item">
    <a class="nav-link btn-outline-dark" [class.active]="i == 0" [attr.id]="'survivor' + i + '-tab'" data-toggle="pill"
      [attr.href]="'#' + 'survivor' + i" [attr.aria-controls]="'survivor' + i" aria-selected="true">{{survivor.name}}</a>
  </li>
</ul>
<div class="tab-content bg-dark">
  <div *ngFor="let survivor of survivorsSelected; let i = index" class="tab-pane fade" [class.active]="i == 0"
    [class.show]="i == 0" [attr.id]="'survivor' + i" [attr.aria-labelledby]="'survivor' + i + '-tab'">

    <div class="card-body">

      <div class="d-flex justify-content-between align-items-center mb-2">
        <button type="button" data-toggle="modal" [attr.data-target]="'#modalCenter'+i" class="btn" [class.badge-gh]="survivor.box.code == 'GH'"
          [class.badge-hb]="survivor.box.code == 'HB'" [class.badge-bp]="survivor.box.code == 'BP'" [class.badge-sg]="survivor.box.code == 'SG'"
          [class.badge-us]="survivor.box.code == 'US'" [class.badge-h1]="survivor.box.code == 'H1'" (click)="backgroundSurvivor(survivor.name)">
          {{survivor.box.code}}
          <i class="fas fa-info-circle"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="removeSurvivor(survivor)">
          {{lang?.remove}}
          {{survivor.name}}
        </button>

        <!-- Modal -->
        <div class="modal fade" [attr.id]="'modalCenter'+i" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">{{survivor.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p><em>{{backgroundInfoSurvivor1}}</em></p>
                <p>{{backgroundInfoSurvivor2}}</p>
              </div>
              <div class="modal-footer d-flex justify-content-between">
                <span *ngIf="survivor.box.code == 'GH'" class="badge badge-pill badge-gh">{{survivor.box.name}}</span>
                <span *ngIf="survivor.box.code == 'HB'" class="badge badge-pill badge-hb">{{survivor.box.name}}</span>
                <span *ngIf="survivor.box.code == 'BP'" class="badge badge-pill badge-bp">{{survivor.box.name}}</span>
                <span *ngIf="survivor.box.code == 'SG'" class="badge badge-pill badge-sg">{{survivor.box.name}}</span>
                <span *ngIf="survivor.box.code == 'H1'" class="badge badge-pill badge-h1">{{survivor.box.name}}</span>
                <span *ngIf="survivor.box.code == 'US'" class="badge badge-pill badge-us">{{survivor.box.name}}</span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header bg-primary text-white">
          <i class="fas fa-dice-one"></i> 0 - 6
        </div>
        <div *ngFor="let skill of survivor.level.skillBlue">
          <zga-skill [colorLevel]="'blue'" [skillContent]="skill" [survivorName]="survivor.name" [localSettings]="localSettings"></zga-skill>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header bg-warning text-white">
          <i class="fas fa-dice-two mr-1"></i> 7 - 18
        </div>
        <div *ngFor="let skill of survivor.level.skillYellow">
          <zga-skill [colorLevel]="'yellow'" [skillContent]="skill" [survivorName]="survivor.name" [localSettings]="localSettings"></zga-skill>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header bg-warning-color-dark text-white">
          <i class="fas fa-dice-three"></i> 19 - 42
        </div>
        <div *ngFor="let skill of survivor.level.skillOrange">
          <zga-skill [colorLevel]="'orange'" [skillContent]="skill" [survivorName]="survivor.name" [localSettings]="localSettings"></zga-skill>
        </div>
      </div>

      <div class="card mb-2">
        <div class="card-header bg-danger text-white">
          <i class="fas fa-dice-four"></i> 43+
        </div>
        <div *ngFor="let skill of survivor.level.skillRed">
          <zga-skill [colorLevel]="'red'" [skillContent]="skill" [survivorName]="survivor.name" [localSettings]="localSettings"></zga-skill>
        </div>
      </div>
    </div>
  </div>
</div>