<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{lang?.print}}</li>
  </ol>
</nav>

<div class="container" style="overflow-x: auto;">

  <div class="m-2"><i class="fas fa-exclamation-triangle text-warning"></i> {{lang?.text7}}</div>

  <div class="btn-group btn-group-toggle m-2" data-toggle="buttons">
    <label class="btn btn-secondary active" (click)="addOnlySurvivorsSaved()">
      <input type="radio" name="options" id="option1" autocomplete="off" checked>
      {{lang?.text10}}
    </label>
    <label class="btn btn-secondary" (click)="addAllSurvivors()">
      <input type="radio" name="options" id="option2" autocomplete="off" > 
      {{lang?.text9}}
    </label>
  </div>
  <button *ngIf="survivors.length > 0" class="btn btn-info m-2" (click)="downloadPdf()">{{lang?.downloadPdf}}</button>

  <div *ngIf="survivors.length === 0" class="m-2"><i class="fas fa-exclamation-triangle text-warning"></i>
    {{lang?.text8}}
  </div>
  <div class="m-2">{{printOption}}:</div>

  <div *ngFor="let group of groupSurvivors; let i = index">
    <hr>
    <div class="p-2 a4 row" [id]="'content' + i">

      <div *ngFor="let survivor of group" class="col-6">

        <strong>{{survivor.name}}</strong>
        <div *ngFor="let skill of survivor.level.skillBlue" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'blue'" [skillContent]="skill" [localSettings]="localSettings"></zga-print-skill>
        </div>

        <div *ngFor="let skill of survivor.level.skillYellow" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'yellow'" [skillContent]="skill" [localSettings]="localSettings"></zga-print-skill>
        </div>

        <div *ngFor="let skill of survivor.level.skillOrange" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'orange'" [skillContent]="skill" [localSettings]="localSettings"></zga-print-skill>
        </div>

        <div *ngFor="let skill of survivor.level.skillRed" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'red'" [skillContent]="skill" [localSettings]="localSettings"></zga-print-skill>
        </div>

      </div>



    </div>

  </div>

</div>