<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{lang?.print}}</li>
  </ol>
</nav>

<div class="container" style="overflow-x: auto;">

  <div class="m-2"><i class="fas fa-exclamation-triangle text-warning"></i> {{lang?.text7}}</div>

  <div class="input-group">
    <label class="m-2" (click)="addOnlySurvivorsSaved()">
      <input type="radio" name="options" id="option1" autocomplete="off" checked>
      {{lang?.text10}}
    </label>
    <label class="m-2" (click)="addAllSurvivors()">
      <input type="radio" name="options" id="option2" autocomplete="off" > 
      {{lang?.text9}}
    </label>
  </div>
  <button *ngIf="survivors.length > 0" class="btn btn-info m-2" (click)="downloadPdf()">{{lang?.downloadPdf}}</button>
  <span *ngIf="loading != ''"> <i class="fas fa-clock"></i> {{loading}}</span>

  <div class="m-2">{{lang?.survivors}} ({{survivors.length}})</div>
  <div *ngIf="survivors.length === 0" class="m-2"><i class="fas fa-exclamation-triangle text-warning"></i>
    {{lang?.text8}}
  </div>

  <div *ngFor="let group of groupSurvivors; let i = index">
    <hr>
    <div class="p-1 a4 row" [id]="'content' + i">
      <div *ngFor="let survivor of group" class="col-6">

        <div class="d-flex justify-content-between text-light bg-dark pl-1 pr-1 mb-1">
          <strong>{{survivor.name}}</strong> <zga-badge [survivor]="survivor"></zga-badge>
        </div>
        <div *ngFor="let skill of survivor.level.skillBlue" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'blue'" [skillContent]="skill" [localSettings]="localSettings" [lang]="lang"></zga-print-skill>
        </div>

        <div *ngFor="let skill of survivor.level.skillYellow" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'yellow'" [skillContent]="skill" [localSettings]="localSettings" [lang]="lang"></zga-print-skill>
        </div>

        <div *ngFor="let skill of survivor.level.skillOrange" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'orange'" [skillContent]="skill" [localSettings]="localSettings" [lang]="lang"></zga-print-skill>
        </div>

        <div *ngFor="let skill of survivor.level.skillRed" class="font-skill text-justify">
          <zga-print-skill [colorLevel]="'red'" [skillContent]="skill" [localSettings]="localSettings" [lang]="lang"></zga-print-skill>
        </div>
      </div>
    </div>
  </div>
</div>
