.bg-green-lighten-4 {
    background-color: #c8e6c9;
}
.bg-green-darken-4 {
    background-color: #1b5e20;
}
.bg-brown-lighten-4 {
    background-color: #d7ccc8;
}
.badge-brown-darken-1 {
    background-color: #6d4c41;
    color: white;
}
.bg-warning-color-dark {
    background-color: #FF8800!important;
}