<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">{{lang.settings}}</li>
  </ol>
</nav>
<form class="container" novalidate [formGroup]="formSettings">
  <div class="form-group">
    <h6>{{lang.appLanguage}}</h6>
    <div class="form-check form-check-inline" (click)="changeStatus()">
      <input class="form-check-input" type="radio" formControlName="appLanguage" id="radioOptionsAppEn" value="en">
      <label class="form-check-label" for="radioOptionsAppEn">{{lang.english}}</label>
    </div>
    <div class="form-check form-check-inline" (click)="changeStatus()">
      <input class="form-check-input" type="radio" formControlName="appLanguage" id="radioOptionsAppPt" value="pt">
      <label class="form-check-label" for="radioOptionsAppPt">{{lang.portuguese}}</label>
    </div>
  </div>
  <div class="form-group">
    <h6>{{lang.skillTitleLanguage}}</h6>
    <div class="form-check form-check-inline" (click)="changeStatus()">
      <input class="form-check-input" type="radio" formControlName="skillTitleLanguage" id="radioOptionsTitleEn" value="en">
      <label class="form-check-label" for="radioOptionsTitleEn">{{lang.english}}</label>
    </div>
    <div class="form-check form-check-inline" (click)="changeStatus()">
      <input class="form-check-input" type="radio" formControlName="skillTitleLanguage" id="radioOptionsTitlePt" value="pt">
      <label class="form-check-label" for="radioOptionsTitlePt">{{lang.portuguese}}</label>
    </div>
  </div>
  <div class="form-group">
    <h6>{{lang.skillDescriptionLanguage}}</h6>
    <div class="form-check form-check-inline" (click)="changeStatus()">
      <input class="form-check-input" type="radio" formControlName="skillDescriptionLanguage" id="radioOptionsDescriptionEn"
        value="en">
      <label class="form-check-label" for="radioOptionsDescriptionEn">{{lang.english}}</label>
    </div>
    <div class="form-check form-check-inline" (click)="changeStatus()">
      <input class="form-check-input" type="radio" formControlName="skillDescriptionLanguage" id="radioOptionsDescriptionPt"
        value="pt">
      <label class="form-check-label" for="radioOptionsDescriptionPt">{{lang.portuguese}}</label>
    </div>
  </div>
  <div class="mt-2">
    <button type="submit" (click)="save()" class="btn btn-primary mr-2">{{lang.save}}</button>
    <a class="btn btn-secondary" href="#" role="button">{{lang.cancel}}</a>
  </div>
  <div *ngIf="saved" class="alert alert-success alert-dismissible mt-2 fade show" role="alert">
    {{lang.msg}} <strong><a href="#">{{lang.update}}</a></strong>
  </div>
</form>